label {
  margin: 0.2rem;
}

form {
  display: flex;
  align-items: baseline;
}

.submitSection {
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type="number"],
select {
  width: 100%;
  padding: 1rem;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

select {
  cursor: pointer;
}

input[type="checkbox"] {
  accent-color: green;
  width: 2rem;
  height: 2rem;
}

label {
  padding: 1rem;
}

div.main {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 1rem;
}

div.resultSection {
  height: 4rem;
  font-size: large;
}

.historyButtonSection {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 1rem;
}
